/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov

# IDE & OS
.idea/
*.iml
Thumbs.db
.DS_Store

# Compiled / generated outputs
*.o
*.a
*.so
*.dll
*.exe
*.bin
*.elf

# Logs & traces
*.log
*.txt.bak

# Python cache
__pycache__/
*.pyo
